<meta charset="utf-8">
<title>{{.Title | default site.Title}}</title>
<meta name="description" content="{{.Description | default site.Params.description}}">

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="/css/prism.css">
<!-- syntax highlighting JS -->
<script src="/js/prism.js"></script>
<!-- other javascript -->
<script src="/js/script.js"></script>

<!-- umami analytics -->
<script async defer data-website-id="f424d176-872a-4104-ac8f-8961daa5bf17"
    src="https://analytics.umami.is/script.js"></script>

<!-- base url -->
{{ if or (eq site.BaseURL "/") (eq site.BaseURL "http://localhost:1313/") (eq site.BaseURL "http://examplesite.org/")
(eq site.BaseURL "https://examplesite.org/") (eq site.BaseURL "http://examplesite.com/") (eq site.BaseURL
"https://examplesite.com/")}}{{else}}
<base href="{{ site.BaseURL }}">
{{ end }}
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" />

<link rel="apple-touch-icon" href="{{ " images/web/logo192.png" | absURL }}" />
<!--Favicon-->
<link rel="shortcut icon" href="{{ site.Params.favicon | absURL }}" type="image/x-icon">
<link rel="icon" href="{{ site.Params.favicon | absURL }}" type="image/x-icon">

<!-- mobile responsive meta -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
<meta name="msapplication-TileColor" content="{{site.Params.variables.primary_color | default `#da532c`}}">
<meta name="theme-color" content="{{site.Params.variables.body_color | default `#ffffff` }}">