<div {{if and .panels (gt (len .panels) 1)}} class="slow-slider" {{end}}>
    {{ range .panels }}
    <div>
        <div class="text-center mb-2 slider-title">{{ .title }}</div>
        <div>
            {{ if eq .type "image" }}
            <img src="{{ .path | relURL }}" alt=""
                class="img-fluid text-center mx-auto {{ if .large_image }}img-large{{ end }}">
            {{ else if eq .type "code" }}
            {{ $content := readFile .path }}
            {{ $ext := path.Ext .path }}
            {{ $lang := "" }}
            {{ if eq $ext ".py" }}
            {{ $lang = "python" }}
            {{ else if eq $ext ".json" }}
            {{ $lang = "json" }}
            {{ end }}
            <pre><code class="language-{{ $lang }}">{{ $content }}</code></pre>
            {{ end }}
        </div>
        {{ if .content }}
        <div class="mt-4 mb-4 mx-auto text-center">{{ .content | markdownify }}</div>
        {{ end }}
        {{ if .button }}
        <div class="mt-2 mx-auto text-center"><a target="_blank" class="btn btn-primary" href="{{ .button.link }}">{{
                .button.content | markdownify }}</a></div>
        {{ end }}
    </div>
    {{ end }}
</div>